@charset "utf-8";
/* CSS Document */

#logo-side
{
	position:fixed;
	width:520px;
	height:100%;
	left:0px;
	top:0px;
	background:#48BED7;
	/*background:#39C;*/
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
}
#bg1
{
	position:fixed;
	width:520px;
	height:100%;
	left:10px;
	top:0px;
	background:#39F;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
}


#bg2
{
	position:fixed;
	width:520px;
	height:100%;
	left:20px;
	top:0px;
	background:#3CF;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
}
#bg3
{
	position:relative;
	left:55%;
	top:30%;
	width:350px;
	opacity: 0.89;
	background:#CCC;
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
	border:1px dotted #666;
}
#logo
{
	position:absolute;
	width:500px;
	height:500px;
	background:url(../logo.png);
	top:15%;
	left:10px;
}
.bdy
{

	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:url(../bg.jpg)

}
#login
{
	position:absolute;	
	top:0px;
	left:650px;
	width:300px;
	padding-bottom:10px;
	padding-top:10px;
	
	padding-right:10px;
}

footer
{
	position:absolute;
	text-decoration:none;
	font-size:16px;
	color:#09C;
	top:90%;
	left:57%;
	width:25%;
	word-spacing:10px;
}
.main a
{
	text-decoration:none;
	color:#09C;
}
.main a:hover
{
	text-decoration:none;
	color:#09C;
}
.inp
{
	width:300px;
}
.ad_login
{
	position:absolute;
	top:0px;
	left:85%;
	width:130px;
	font-size:18px;
	color:#FFF;
	height:30px;
	background:#399;
	padding-left:10px;
	padding-top:5px;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .52);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .52);
}
/*.info_bar
{
	background:url(../topbar.png) repeat-x;
	top:0px;
	height:100px;
	position:absolute;
	width:100%;
	 z-index: 4;
        
	
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	
}*/
.info_bar
{
	position:absolute;
top:0px;
width:100%;
	height: 70px;
	 z-index: 4;

background-color: #303030;
border-bottom: solid 1px #111;
background-color: #2C2C2C;
background-image: -moz-linear-gradient(top, #333, #222);
background-image: -ms-linear-gradient(top, #333, #222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
background-image: -webkit-linear-gradient(top, #333, #222);
background-image: -o-linear-gradient(top, #333, #222);
background-image: linear-gradient(top, #333, #222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
	
}
/*.dp_area
{
	display:block;
	position:relative;
	left:40%;
	top:10px;
	width:150px;
	height:150px;
	z-index:0;
	border:3px solid #CCC;

	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	z-index: 0;
}*/
.dp_area {
	position:relative;
	left:40%;
	top:10px;
	height:130px; 
	width:130px; 
	-moz-border-radius:130px;
 -webkit-border-radius:130px;
 border-radius:130px;
	
	border:4px solid white; 
	overflow:hidden}
.dp_area img{
	
	height:140px; 
	width:140px; 
	-moz-border-radius:140px;
 -webkit-border-radius:140px;
 border-radius:140px;
	
	
	overflow:hidden}

.left_menu
{
	position:fixed;
	width:125px;
	height:100%;
	left:5%;
	top:0px;
	font: normal 18px/1.3 'Open Sans', sans-serif;
	/*background:#48BED7;*/
	opacity:0.8;
	border-right:1px #333 solid;
	
	 z-index: 4;
	 padding-left:5px;
	 padding-right:10px;
       

	/*background:#39C;*/
	/*-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .90);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .90);*/
}

#logo2
{
	position:relative;
	width:100px;
	height:100px;
	
	background:url(../logo_2.png);
	top:80%;
	left:10px;
}
#leave
{
	position:relative;
	padding-right:3px;
	float:right;
	top:180px;
}
#rim
{
	position:relative;
	padding-right:3px;
	float:right;
	top:200px;
}
#bills
{
	position:relative;
	padding-right:3px;
	float:right;
	top:220px;
	left:50px;
}
#bills2
{
	position:relative;
	padding-right:3px;
	float:right;
	top:220px;
	left:0px;
}
#add_faculty
{
	
	position:relative;
	padding-right:3px;
	float:right;
	top:240px;

}
#logout
{
	position:relative;
	padding-right:3px;
	top:255px;
	float:right;
	left:30px;
}

#logout_a
{
	position:relative;
	padding-right:3px;
	top:255px;
	float:right;
	left:0px;
}
#logout_d
{
	position:relative;
	padding-right:3px;
	top:255px;
	float:right;
	
}
.left_menu a
{
	text-decoration:none;
	font-size:14px;
	color:#333;
}
.left_menu a:hover
{
	text-decoration:none;
	font-size:14px;
	color:#399;
}
.left_menu a:active
{
	text-decoration:none;
	font-size:14px;
	color:#399;
}
#name
{
	position:absolute;
	left:20px;
	font-size:20px;
	top:20px;
	color:#FFF;
	width:30%;
}
#info
{
	position:absolute;
	display:block;
	left:75%;
	font-size:15px;
	top:20px;
	color:#FFF;
	width:25%;
	}
.leave-body2
{
	position:relative;
	top:80px;
	left:300px;
	width:60%;
}
.leave-body3
{
	position:relative;
	top:80px;
	left:300px;
	width:50%;
}
.leave-body
{
	position:relative;
	top:80px;
	left:300px;
	width:30%;
}
.body a:hover
{
	text-decoration:none;
}
.l-notification
{
	
	width:100%;
	position:relative;
	height:100%;
	top:20px;
}
#l-body
{
	padding-bottom:15px;
	border-bottom:1px solid #333;
	padding-top:15px;
	width:70%;
}
#l-body-del
{
	text-decoration:line-through;
	padding-bottom:15px;
	border-bottom:1px solid #333;
	padding-top:15px;
	width:70%;
}
.la-notification
{

	
	width:100%;
	position:relative;
	height:100%;
	top:20px;
}
#la-body
{	width:60%;
	padding-bottom:20px;
	border-bottom:1px solid #333;
	padding-top:15px;
}
.approved
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
		top:-70px;
		
		background:url(../approved1.png)  no-repeat;
	
}
.pending
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../pending.png)  no-repeat;
}
.sentback
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../sentback.png)  no-repeat;
}
.rejected
{
width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../rejected1.png)  no-repeat;
}
.progress
{
width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../progress.png)  no-repeat;
}
.forward
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../forward.png)  no-repeat;
}
.sendback
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../sendback.png)  no-repeat;
}
.approve
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../approve.png)  no-repeat;
}
.reject
{
	width:100px;
	height:37px;
	position:relative;
	float:right;
	top:-70px;
	background:url(../reject.png)  no-repeat;
}
.counter
{
	position:fixed;
	left:60%;
	border-left:1px #333 solid;
	width:50%;
	height:100%;
	top:0px;
	
}
.counter_con
{
	position:relative;
	top:200px;
	width:80%;
	left:0%;
}
@font-face {
  font-family: 'Kohinoor';
  src: local('Kohinoor'), local('Kohinoor'),
    url("../fonts/Kohinoor-Bold.otf") format("opentype");
    
}
.nav-box
{
	position:fixed;
	left:85%;
	top:220px;
	width:20%;
	height:210px;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .52);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .52);
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.admin-box-con
{
	position:relative;
	padding:10px;
}
.admin-box-con a
{
	color:#333;
}
#new-logo
{
	background:url(../favicon.png) no-repeat;
	position:absolute;
	left:10%;
	top:0px;
	height:150px;
	width:150px;
	display:block;
	padding-bottom:10px;
	

}
#iiit-logo
{
	background:url(../iiitd-logo.jpg) no-repeat;
	position:absolute;
	right:20%;

	top:10px;
	height:70px;
	width:300px;
	display:block;
	padding-bottom:10px;
	

}
.home-video
{
	position:relative;
	
	top:0px;
	
}
.homebox
{
position:fixed;
	left:10%;
	top:200px;
	width:800px;	
}
.icon-address
{
	background:url(../images/location.png) no-repeat;
	height:32px;
	width:32px;
}
.icon-phone
{
	background:url(../images/phone.png) no-repeat;
	height:32px;
	width:32px;
}